body {
    font-family: 'Roboto';
    font-size: 16px;
}

.navbar {
    border-radius: 0px;
}

.container header.jumbotron {
    padding: 0;
    background-color: transparent; 
}

pre code {
    font-size: 16px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer.well {
    margin-bottom: 0;
    border-radius: 0;
}


.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.callout p:last-child {
    margin-bottom: 0
}

.callout code {
    border-radius: 3px
}

.callout+.callout {
    margin-top: -5px
}

.callout-danger {
    border-left-color: #d9534f
}

.callout-danger h4 {
    color: #d9534f
}

.callout-warning {
    border-left-color: #f0ad4e
}

.callout-warning h4 {
    color: #f0ad4e
}

.callout-info {
    border-left-color: #5bc0de
}

.callout-info h4 {
    color: #5bc0de
}


@media screen and (max-width: 768px){
    body {
        font-size: 14px;
    }

    .page-header h2{
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    pre code {
        font-size: 14px;
    }
}