body {
    font-family: 'Roboto';
    font-size: 16px;
}

.navbar {
    border: none;
    border-radius: 0px;
}

.navbar.black {
    background-color: #212121;
}

.navbar.black .navbar-brand.yellow {
    color: #FFEB3B;
}

.navbar.black .nav.yellow a {
    color: #FFEB3B;
}

.navbar.black .nav.yellow a:hover,
.navbar.black .nav.yellow a:active,
.navbar.black .nav.yellow a:focus {
    background-color: #FFEB3B;
    color: #212121;
}